<!doctype html>
<html lang="__MSG_@@ui_locale">
<head>
  <meta charset="utf-8">
  <title><%= htmlWebpackPlugin.options.title %></title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
  <link rel="stylesheet" href="../assets/styles.css">
  <link rel="stylesheet" href="../assets/common.css">
</head>
<body>
  <eq-options-page></eq-options-page>
</body>
</html>
